<li id="concurso-<%= concurso.concurso_id %>">
  
  <span class="concurso"><%= link_to concurso.nombre,"/sites/"+concurso.concurso_id.to_s %></span>
  <span><%= "- Creado por:" %></span>
  
  <span class="descripcion">
    <%= concurso.descripcion %>
    
  </span>
  <span class="timestamp">

    <% if current_user?(concurso.usuario) %>
      <%= link_to "editar", concurso, method: :edit %>

      <%= link_to "eliminar", concurso, method: :delete,
                                       data: { confirm: "Esta seguro?" } %>
    <% end %>
  </span>
</li>
